<ion-view title="Login">
    <ion-content padding="'true'" class="has-header">
        <form name="myForm" class="list">
            <img src="img/t5ZJJvbuQRqUmbyA5KTj_Icon-user.png" width="50%" height="auto" style="width: 50%; height: auto;margin-left:25%;">
            <ion-list>
                <label class="item item-input" name="Username">
                    <span class="input-label">Username</span>
                    <input type="text" name="Username" placeholder="Username" ng-required="true" required>
                </label>
                <label class="item item-input" name="Password">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" ng-required="true" required>
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a menu-close="" href="#/page3" class="button button-balanced button-block  icon-left ion-android-send">Login</a>
            <a menu-close="" href="#/page2" class="button button-positive button-clear button-block  icon-left ion-android-add-circle">Or create an account</a>
        </form>
    </ion-content>
</ion-view>