<ion-view title="{{nombrere}}">
    <ion-content padding="'false'" class="has-header">
        <form class="list" novalidate name="reservForm">
            <img src="img/JrUvcPgHSoGIFRnfiJvQ_logo.png" width="100%" height="auto" style="width: 100%; height: auto;">
            <div class="spacer" style="width: 320px; height: 14px;"></div>
            <h3>{{nombrere}}</h3>
            <img src="{{imgView}}" width="100%" height="auto" style="width: 100%; height: auto;">
            <label class="item item-input" name="Date">
                <span class="input-label">Date</span>
                <input type="date" placeholder="Date"  ng-required="true">
            </label>
            <label class="item item-input" name="Seats" >
                <span class="input-label">Hour</span>
                <input type="number" placeholder="Hour"  ng-required="true" pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}">
            </label>
            <label class="item item-input" name="Seats">
                <span class="input-label">Seats</span>
                <input type="number" placeholder="Seats"  ng-required="true" pattern="[0-9]{2-3}">
            </label>
            <label class="item item-input" name="Observations">
                <span class="input-label">Observations</span><textarea placeholder="Observations"> </textarea>
            </label>
          
        </form>
         <a href="#/page3" ng-click="showAlert()" class="button button-balanced button-block  icon-left ion-android-send"  ng-disabled="reservForm.$invalid">Reservation</a>

    </ion-content>
</ion-view>

<script id="templates/form-errors.html" type="text/ng-template">  
  <div class="form-error" ng-message="required">This field is required.</div>
  <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
  <div class="form-error" ng-message="maxlength">This field is must be less than 50 characters</div>
</script> 