<ion-view title="Signup">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list">
            <h3>Create a new account</h3>
            <div class="spacer" style="width: 300px; height: 30px;"></div>
            <ion-list>
                <label class="item item-input" name="Name">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input" name="Email">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email">
                </label>
                <label class="item item-input" name="Username">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input" name="Password">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="Password">
                </label>
                <label class="item item-input" name="Adderss">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="Address">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 32px;"></div>
            <a menu-close="" href="#/page3" class="button button-balanced button-block  icon-left ion-android-send">Sign up</a>
        </form>
    </ion-content>
</ion-view>